<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Furime P2P Exchange | Success</title>
        <link rel="icon" type="image/x-icon" href="https://wallet.duinocoin.com/assets/furim_faucet.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css')}}">
    </head>
    <body>
        <section class="section">
            <div class="container has-text-centered">
                <p class="title is-size-2">Similar offer <span class="has-text-success">found</span></p>
                <div style="text-align: center;">
                    <img style="width: 25%; height: auto;" src="https://lh3.googleusercontent.com/kfP8mlLAPVl7q2qW8OInjytoK6VK0huMs2hKfp3xSc4H49orGlqBAP-PhJDpG13JS7KlsffKO_45ygS8lxQ1qsDj3Q=w640-h400-e365-rj-sc0x00ffffff">
                    <img style="width: 25%; height: auto;" src="https://lh3.googleusercontent.com/kfP8mlLAPVl7q2qW8OInjytoK6VK0huMs2hKfp3xSc4H49orGlqBAP-PhJDpG13JS7KlsffKO_45ygS8lxQ1qsDj3Q=w640-h400-e365-rj-sc0x00ffffff">
                    <img style="width: 25%; height: auto;" src="https://lh3.googleusercontent.com/kfP8mlLAPVl7q2qW8OInjytoK6VK0huMs2hKfp3xSc4H49orGlqBAP-PhJDpG13JS7KlsffKO_45ygS8lxQ1qsDj3Q=w640-h400-e365-rj-sc0x00ffffff">
                    <p class="title is-size-3 mt-3">Cool guinea pigs, right?</p>
                    <p class="subtitle">A similar offer has been found. Transaction has been initiated, you should see your wallet balance changed soon</p>
                </div>
            </div>
        </section>
    </body>
</html>
<script>setInterval(myTimer, 3000); function myTimer() {  history.back();}</script>
