<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Furime P2P Exchange | Success</title>
        <link rel="icon" type="image/x-icon" href="https://wallet.duinocoin.com/assets/furim_faucet.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css')}}">
    </head>
    <body>
        <section class="section">
            <div class="container has-text-centered">
                <p class="title is-size-2">Sell offer <span class="has-text-success">successfully</span> submited</p>
                <div style="text-align: center;">
                    <img style="width: 25%; height: auto;" src="https://images.theconversation.com/files/387712/original/file-20210304-15-n1wg4d.jpg?ixlib=rb-1.1.0&rect=29%2C302%2C3812%2C1903&q=45&auto=format&w=1356&h=668&fit=crop">
                    <img style="width: 25%; height: auto;" src="https://images.theconversation.com/files/387712/original/file-20210304-15-n1wg4d.jpg?ixlib=rb-1.1.0&rect=29%2C302%2C3812%2C1903&q=45&auto=format&w=1356&h=668&fit=crop">
                    <img style="width: 25%; height: auto;" src="https://images.theconversation.com/files/387712/original/file-20210304-15-n1wg4d.jpg?ixlib=rb-1.1.0&rect=29%2C302%2C3812%2C1903&q=45&auto=format&w=1356&h=668&fit=crop">
                    <p class="title is-size-3 mt-3">Cool frogs, right?</p>
                    <p class="subtitle">You can now return to the main page<br> and wait until someone buys your offer</p>
                </div>
            </section>
        </body>
    </html>
<script>
<script>setInterval(myTimer, 3000); function myTimer() {  history.back();}</script>
</script>
